.contact-wrapper{
    margin-top:  70px;
    padding: 60px 25%;
    background-color: #f7f5f5;
    .contact-header{
        color: #7A1655;

        .contact-title{
            font-size:45px;
        }
        h3{
            font-size:20px;
            font-weight: 300;
            margin-top: -25px;
            margin-bottom: 40px;
        }
    }
    .contact-form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 20px;

        label{
            font-weight: 500;
        }
        #name, #hometown, .destination, #phone{
            height: 50px;
            margin-top: 6px;
            margin-bottom: 25px;
        }
        input, select{
            font-size: 18px;
            color: #9f9f9f;
            outline: none;
            padding: 0px 30px;
        }
        #contact-button{
            width : 220px;
        }
    }
}